.button {
  background: linear-gradient(to top, rgba(115, 225, 70, 1) 50%, rgba(132, 233, 79, 1) 65%, rgba(161, 245, 95, 1) 100%);
  background-position-y: 0;
  border-radius: 99px;
  border: 1px solid black;
  color: rgba(35, 60, 20, 1);
  font-family: "Oswald", 'Source Sans 3', sans-serif;
  font-size: 20px;
  letter-spacing: 0.4px;
  min-width: 194px;
  padding: 2px 40px 3px;
  transition: background-position-y 0.25s ease-in-out;
  &:hover {
    background-position-y: 36px;
  }
  &:active {
    background: linear-gradient(to top, rgba(75, 185, 30, 1) 50%, rgba(92, 193, 39, 1) 65%, rgba(121, 205, 55, 1) 100%);
    background-position-y: -36px;
  }

}
.button_holder {
  background: rgba(140, 235, 70, 1);
  border-radius: 99px;
  margin: auto;
  padding: 2.4px;
  width: fit-content;
}
