.resize_animation {
  display: block;
  height: fit-content;
  width: fit-content;
}
@mixin slideInAnimation {
  from {
    opacity: 0;
    rotate: 0;
    scale: 0;
  }

  80% {
    scale: 1.5;
  }
  to {
    opacity: 1;
    rotate: 720deg;
    scale: 1;
  }
}
@keyframes slideInLR {
  @include slideInAnimation
}
@keyframes slideInRL {
  @include slideInAnimation
}
@keyframes slideInLR_ {
  @include slideInAnimation
}
@keyframes slideInRL_ {
  @include slideInAnimation
}

@media screen and (max-width: 704.000px) {
  .resize_animation {
    animation: slideInRL 3s ease forwards;
  }
}
@media screen and (min-width: 704.001px) and (max-width: 1008.000px) {
  .resize_animation {
    animation: slideInLR 3s ease forwards;
  }
}
@media screen and (min-width: 1008.001px) and (max-width: 1312.000px) {
  .resize_animation {
    animation: slideInRL_ 3s ease forwards;
  }
}
@media screen and (min-width: 1312.001px) {
  .resize_animation {
    animation: slideInLR_ 3s ease forwards;
  }
}
