.App {
  text-align: center;
}
header {
  font-family: "Oswald", 'Source Sans 3', sans-serif;
  font-weight: 100;
  color: rgba(255, 255, 255, 1);
}
header img {
  height: 31px;
  margin: 32px auto 16px;
  width: auto;
}
.preview_holder > .preview_holder_animate {
  animation: slideInUD 3s ease;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px;
  padding: 80px 0;
  transition: all 13s ease;

  & > * {
    margin: 40px;
  }
}
.mock_image {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
/**
 * If you want to compare the design to the UI (first modal only)
 * change the display from 'none' to 'flex'. Reload and wait 2 seconds.
 */
  display: none;
  z-index: 999999999;
  opacity: 0.33;
}
.mock_image img {
  margin: auto;
}
@keyframes slideInUD {
  from {
    transform: translateY(-1000%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
