.resize_animation {
  display: block;
  height: fit-content;
  width: fit-content;
}

@keyframes slideInLR {
  from {
    transform: translate(-10%, -147px);
  }
  to {
    transform: translate(0);
  }
}
@keyframes slideInRL {
  from {
    transform: translate(10%, -147px);
  }
  to {
    transform: translate(0);
  }
}

@media screen and (max-width: 625px) {
  .resize_animation {
    animation: slideInRL 3s ease forwards;
  }
}
@media screen and (min-width: 626px) and (max-width: 929px) {
  .resize_animation {
    animation: slideInLR 3s ease forwards;
  }
}
@media screen and (min-width: 930px) and (max-width: 1233px) {
  .resize_animation {
    animation: slideInRL 3s ease forwards;
  }
}
@media screen and (min-width: 1234px) {
  .resize_animation {
    animation: slideInLR 3s ease forwards;
  }
}
